@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 150%;
}
input[type='button'] {
  outline: none;
}
input[type='button']::-moz-focus-inner {
  border: 0;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  background-color: rgb(255, 255, 255);
}
/* overlay menu */
.hamburger .line {
  width: 1.3rem;
  height: 0.2rem;
  background-color: #000000;
  display: block;
  margin-top: 0.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(2) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
  margin-top: 23px;
}
.overlay-menu {
  height: calc(100vh - 6.5rem);
}
.font {
  font-family: 'Playfair Display', serif;
}
.font-sub {
  font-family: 'Roboto Condensed', sans-serif;
}
.email {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}
.b-shadow {
  box-shadow: 0px 30px 36px rgba(0, 0, 0, 0.11);
}
